name: macOS + Ubuntu

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  macos-build-test-yubikey:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --features="yubikey-support" --examples --verbose
    - name: Run tests
      run: cargo test --features="encrypted-keys,rsa-signing,x509-support" --verbose
  
  ubuntu-build-test-no-yubikey:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --examples --verbose
    - name: Run tests
      run: cargo test --features="encrypted-keys,rsa-signing,x509-support" --verbose
